{% extends 'base.html' %}
{% load static %}
{% block content %}
{{c}}<br>
{{p}}
<div class="container-fluid mt-4" style="margin-bottom:60px;">
    <img src="{{c.image.url}}" width="100%"height="450px">
        
       </div>

<div class="container-fluid mt-1" style="margin-bottom:60px;">
<h3 class="text-center fw-bold pb-3">{{c.name}}</h3>
<p style="line-height: 2;text-align: justify;">{{c.desc}}</p>
</div>

<div class="container-fluid mt-2 rounded rounded-5" style="margin-bottom: 100px;">
    <div class="row">
      {% for i in p %}
      <div class="col-sm-4">
    <div class="card mb-5" style="width: 30rem;" class="mt-2">
        <img src="{{i.image.url}}" class="card-img-top p-2" alt="..." height="300px" width="100%">
        <div class="card-body" style="background-color:rgb(244, 215, 233);color: rgb(91, 5, 18);">
          <strong><h3 class="card-title text-center fw-bold">{{i.name}}</h3></strong>
          <p class="card-text text-center">{{i.price}}</p>
          <a href="{% url 'shop:detail' i.name %}" class="btn btn-primary" style="background-color:rgb(104, 6, 6) ;position: relative;left:40%;">Details</a>
        </div>
       </div>
       </div>
       {% endfor %}
    </div>
      </div>


{% endblock %}